.body {
    width: 1280px;

}
.header {
    /* background-color: blue; */
    background-image: url('header12.jpeg');
    text-align: center;
    padding: 20px;
    height: 300px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
}
.img {
    width: 200px;
    display: inline-table;
    padding: 3px;
    
}
.topnav {
    overflow: hidden;
    background-color: darkolivegreen;
    padding: 5px;
    margin-top: 5px;
    width: 1280px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: red;
    color: black;
}

.column {
    float: left;
    /* padding: 10px; */
    
}
.column h2 {
    background-color: pink;
}
.column.side {
    width: 25%;
    
}
.column.side p {
    background-color: skyblue;
    
}
.column.middle {
    width: 50%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
    
}

.footer {
    background-color: dimgray;
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
  }

@media screen and (max-width:414px) {
    .column.side, .column.middle {
        width: 100%;
      }
    }